.menu ul {
  list-style-type: none;
}

.menu li {
  display: inline;
  margin-right: 23px;
  padding-right: 24px;
  border-right: 1px solid #006b6e57;
}
.menu li a {
  text-decoration: none;
  color: #006b6e;
}
.menu li:last-child {
  border: none;
}
.menu {
  padding-top: 38px;
}

.content-active {
  border-bottom: 1px solid #006b6e;
}

.logo {
  padding-top: 24px;
}

.key-heading {
  font: normal normal bold 71px/86px Poppins;
  color: #00b4cb;
}

.key-details {
  color: #575b5c;
}
.key-details p {
  font: normal normal 300 20px/30px Poppins;
}
.key-description {
  padding-top: 64px;
  padding-left: 50px;
}
.key-picture > img {
  width: 100%;
  max-width: 551px;
  float: right;
}
.key-picture {
  padding-top: 30px;
}

.mid-arrow {
  text-align: center;
}

.info {
  text-align: center;
  padding-top: 10px;
}
.heading {
  font: normal normal bold 45px/68px Poppins;
  color: #006b6e;
  max-width: 572px;
  margin: auto;
}
.details {
  font: normal normal 300 20px/30px Poppins;
  color: #575b5c;
  max-width: 693px;
  margin: auto;
}
.image img {
  width: 100%;
  height: auto;
  max-width: 238px;
}
.image-active img {
  width: 100%;
  height: auto;
  max-width: 355px;
}
.image,
.image-active {
  display: inline-block;
}
.image {
  margin-right: 30px;
}

.container-fluid {
  background: url("../graduated-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-caption {
  text-align: center;
  font-size: 21px;
  margin: auto;
  font: normal normal 300 20px/30px Poppins;
  padding-top: 18px;
}
.image-caption-active {
  padding-top: 18px;
  text-align: center;
  color: #006b6e;
  font-size: 21px;
  margin: auto;
}
.bottom-buildings {
  background-image: url(../bottom-buildings.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
}
